@media all and (min-width: 720px){
    
    .closebtn{
        position: relative;
        font-size: 22px;
    }
    .wrapper{
        flex-direction: row;
    }
    .controls{
        width: 20vw;
        height: 60vh;
        margin-top: 2vh;
        justify-content: center;
    }
    .main_heading{
        height: 20vh;
        background-color: transparent;
    }
    .probab{
        display:flex;
        width: 20vw;
        height: 80vh;
        
        top: 10vh;
        display: flex;
        flex-direction: column;
        margin-top: 6vh;

    }
    #overlay{
        position:fixed;
        height:100vh;
        width: 100vw;
        top: 10vh;
        z-index: -1;
        left: 0;
        right: 0;
        
    }
    .prob_button{
        display: none;
    }
    .button{
        margin: 1vw;
        font-size: 8px;
        padding: 0px 0.5vw 0px 0.5vw;
    }
    #canvas-wrap{
        height: 80vh;
        width: 60vw;
    }
    .up{
        display: none;
    }
    .controls_cont{
        margin-top: 6vh;
    }
    .prob_close{
        display: none;
    }
    .left{
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    .right{
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 10px;
    }
    .left,.right{
        flex-grow: 1;
        height: 20px;
        margin: 1vh 0.5vh 1vh 0.1vh;
        
        width:40px;
    }
    .values{
        height: 60vh;
        width:20vw;
    }
    body{
        overflow: hidden;
    }
}

@media all and (max-width: 719px){
    .alert_box{
        overflow: scroll;
        max-height: 90vh;
    }
    .alert_text{
        overflow: scroll;
        max-height: 90vh;
    }
    .closebtn{
        position: fixed;
        font-size: 40px;
    }
    .wrapper{
        flex-direction: column;
    }
    .main_heading{
        position: fixed !important;
        top: 10vh;
        left: 0;
        right: 0;
        z-index: -1;
        width: 100vw;
        height: auto;
    }
    .iterations{
        position: fixed !important;
        top: 8vh;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .controls{
        width: 80vw;
        height: 60vh;
        margin-top: 5vh;
        justify-content: flex-start;
    }
    .probab{
        display:none;
        height:70vh;
        width: 80vw;
        position: fixed;
        top: 20vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .prob_button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button{
        margin: 3vw;
        font-size: 0.8em;
        padding: 0px 1vw 0px 1vw;
    }
    #overlay{
        position: relative;
        height:100vh;
        width: 100vw;
        left: 0;
        right: 0;
        
        margin-top: -20vh;
        z-index: -1;
        
    }
    #canvas-wrap{
        height: 70vh;
        width: 100vw;
        padding-top: 16vh;
        margin-top: 30vh;
    }
    .up{
        font-size: 3em;
    }
    .controls_cont{
        margin-top: 15vh;
        height: 75vh;
        position: relative;;
    }
    .prob_close{
        display: block;
        top: 23vh !important;
        right: 15vw !important;
        font-size: 30px;
    }
    .left{
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .right{
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 10px;
    }
    .left,.right{
        flex-grow: 1;
        height: 30px;
        margin: 1vh 0.5vh 1vh 0.1vh;
        
        width:50px;
    }
    .values{
        height: 60vh;
        width:40vw;
    }
    body{
        overflow: auto;
    }
}



.iterations{
    height:2vh;
    width:auto;
    text-align: center;
}
#val{
    margin-top: 0.5vh;
    font-weight: 900;
    font-size: 2em;
}
.probab{
    
    border-radius: 2px;
    
    z-index: 1;
    background-color: #0C0032;
    align-items: center;
    

}
.values{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    margin-top: 4vh;
    overflow:hidden ;
    flex-direction: column;
}
.values>div{
    display: flex;
    
}
.input{
    height: 40px;
    border:1px solid #190061;
    border-radius: 10px;
}

#canvas-wrap { 
    position:relative;
    
    background-color: transparent;
}

#overlay{
    
     overflow: hidden;
     background-color:transparent;
}
.dots{
    padding: 2px;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    border: 5px solid #240090;
    position: absolute;
    background-color: white;
    z-index: 2;
}
.small_dot{
    
    height: 0px;
    width: 0px;
    border-radius: 50%;
    border: 2px solid grey ;
    position: absolute;
}
.num_dot{
    position: absolute;
}
.controls_cont{
    background-color: #0C0032;
    
}
